
body{width: 21cm;  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

        height: 29.7cm;
       background-color:#F7F7F7;  margin:10px; border: 10px solid; border-color:#472B62;   margin-left:auto; padding:10px 30px;
  margin-right:auto;}
hr{border-style: dotted none none; float:left;
border-color:grey;
border-width:5px;
width: 10%}
h1,h2{color:#8D8DAA}
.column1,.column3 {text-align: center;
    float: left;
    width: 40%;
  }
  .colum2 {width:20%; float:centre}
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
/* colorhunt.co */
